<div>
  <galeria-component 
    [title]="'Natureza'" 
    [photos]="[    
    'https://images.unsplash.com/photo-1600202156547-295f30207faf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80',
    'https://images.unsplash.com/photo-1585360307444-e68ea573ecff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80',
    'https://images.unsplash.com/photo-1583122624875-e5621df595b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80',
    'https://images.unsplash.com/photo-1582291572523-c8de49157bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80',
    'https://images.unsplash.com/photo-1574479033688-329b935011a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80'
  ]">
  </galeria-component>
</div>

<div>
  <galeria-component 
    [title]="'Pessoas'">
  </galeria-component>
</div>